<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.verisence.zoackadventures">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.verisence.zoackadventures.zoack"
        android:allowBackup="true"
        android:icon="@mipmap/ic_add_image"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.verisence.zoackadventures.UI.PaymentActivityTest"></activity>
        <activity android:name="com.verisence.zoackadventures.UI.PaymentActivity" />
        <activity android:name="com.verisence.zoackadventures.UI.FavoritesActivity" />
        <activity
            android:name="com.verisence.zoackadventures.UI.ContactsActivity"
            android:label=" "
            android:screenOrientation="portrait" />
        <activity
            android:name="com.verisence.zoackadventures.UI.HotelDetailActivity"
            android:label="Hotels"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.verisence.zoackadventures.UI.HotelsActivity" />
        </activity>
        <activity
            android:name="com.verisence.zoackadventures.UI.HotelsActivity"
            android:label="Hotels"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity
            android:name="com.verisence.zoackadventures.UI.DestinationDetailActivity"
            android:label="Destinations"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.verisence.zoackadventures.UI.MainActivity" />
        </activity>
        <activity
            android:name="com.verisence.zoackadventures.UI.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.verisence.zoackadventures.UI.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.verisence.zoackadventures.UI.MainActivity"
            android:label="Destinations"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.verisence.zoackadventures.UI.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.verisence.zoackadventures.UI.SignUpActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>